{% extends 'base.html' %}

{% block content %}

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-info">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Intelligent Management Systems (IMS)</h1>
            <p class="lead my-3">El objetivo principal de IMS es fortalecer científica y tecnológicamente el programa de
                Ingeniería de
                Sistemas de la Fundación Universitaria de Popayán.</p>
            <p class="lead mb-0"><a href="{% url 'informacion' %}" class="text-white font-weight-bold">Continue leyendo...</a></p>
        </div>
    </div>

{% endblock %}

