{% extends 'base.html' %}

{% block content %}

    <div class="card border-info">
        <div class="card-header">
            Categoría Segun Colciencias
        </div>
        <div class="card-body">
            <h5 class="card-title">Categoría B</h5>

        </div>
    </div>

    <div class="card border-info mt-2">
        <div class="card-header">
            Gran Área del Conocimiento
        </div>
        <div class="card-body">
            <h5 class="card-title">Otras Ingenierías y Tecnologías</h5>

        </div>
    </div>

    <div class="card border-info mt-2">
        <div class="card-header">
            Área del Conocimiento
        </div>
        <div class="card-body">
            <h5 class="card-title">Ingeniería y tecnología</h5>

        </div>
    </div>

    <div class="card border-info mt-2">
        <div class="card-header">
            Nombre del Lider
        </div>
        <div class="card-body">
            <h5 class="card-title">José Armando Ordóñez</h5>

        </div>
    </div>

    <div class="card border-info mt-2">
        <div class="card-header">
            Objetivos del Grupo
        </div>
        <div class="card-body">
            <ul>
                <li>Fortalecer científica y tecnológicamente el programa de Ingeniería de Sistemas de la Fundación Universitaria de Popayán en el área de los sistemas inteligentes a través de proyectos con alto nivel científico y gran impacto en la comunidad.</li>
                <li>Desarrollo de mecanismos soportados en inteligencia artificial para la optimización de la gestión inteligente de los datos.</li>
                <li>Diseño de soluciones que integren las tecnologías de punta Hardware y Software para problemas reales de la comunidad y la empresa.</li>
                <li>Consolidación de convenios con instituciones académicas y empresariales con el propósito de realizar investigaciones conjuntas.</li>
                <li>Actualización conjunta del currículo y las actividades del programa de Ingeniería de sistemas de la Fundación Universitaria de Popayán.</li>

            </ul>

        </div>
    </div>

    <div class="card border-info mt-2">
        <div class="card-header">
            Línea de Investigación
        </div>
        <div class="card-body">
            <h5 class="card-title">Sistemas telemáticos inteligentes</h5>

        </div>
    </div>

{% endblock %}