{% extends 'base.html' %}

{% block content %}

    <div class="card card-default">
        <div class="card-header">
            <h5 class="card-title">

                {{ title }}
            </h5>
        </div>
        <div class="card-body">
            <table class="table" id="data">
                <thead>
                {% block columns %}

                    <tr>
                        <th scope="col" style="width: 2%;">Nro</th>
                        <th scope="col" style="width: 30%;">Nombre</th>
                        <th scope="col" style="width: 20%;">Tipo de Publicación</th>
                        <th scope="col" style="width: 30%;">Autores</th>
                        <th scope="col" style="width: 3%;">Año</th>
                        <th scope="col" style="width: 15%;">Acciones</th>

                    </tr>

                {% endblock %}
                </thead>
                <tbody>
                {% block rows %}
                    {% for elemento in lista %}
                        <tr>
                            <td>{{ elemento.id }}</td>
                            <td>{{ elemento.nombre }}</td>
                            <td>{{ elemento.tipo_publicacion }}</td>
                            <td>{{ elemento.autores }}</td>
                            <td>{{ elemento.anio_publicacion }}</td>
                            <td>
                                <a href="{%url 'publicaciones_actualizar' elemento.id%}" class="btn btn-warning btn-xs btn-flat">
                                    <i class="fas fa-edit"></i>
                                </a>

                                <a href="{%url 'publicaciones_eliminar' elemento.id%}" class="btn btn-danger btn-xs btn-flat">
                                    <i class="fas fa-trash-alt"></i>
                                </a>


                            </td>
                        </tr>
                    {% endfor %}


                {% endblock %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">

            <a href="{%url 'publicaciones_crear'%}" class="btn btn-info btn-flat">
                                    <i class="fas fa-plus"></i> Nuevo registro
            </a>

        </div>
    </div>
{% endblock %}




